# Database
DATABASE_URL=postgresql+asyncpg://pickla:pickla@postgres:5432/pickla
TEST_DATABASE_URL=postgresql+asyncpg://pickla:pickla@postgres:5432/pickla_test

# Redis
REDIS_URL=redis://redis:6379

# App
APP_NAME=Pickla API V1
ENVIRONMENT=dev    # dev | stg | prod
SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=60
