# Database
DATABASE_URL=postgresql+asyncpg://pickla:pickla@postgres:5432/pickla

# Redis
REDIS_URL=redis://redis:6379

# App
APP_NAME=Pickla API V1
DEBUG=True
SECRET_KEY=super-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=60
